.loader {
    position: relative;
    display: inline-block;
    width: 2em;
    aspect-ratio: 1;
    border-radius: calc(infinity * 1px);
    border-width: 4px;
    border-top-color: currentColor;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: currentColor;
    animation: loader 0.5s linear infinite;
}

.loader::before {
    content: '';
    position: absolute;
    top: calc(var(--spacing) * 0);
    right: calc(var(--spacing) * 0);
    width: calc(2em * 0.172);
    aspect-ratio: 1;
    border-radius: calc(infinity * 1px);
    background-color: currentColor;
}

.loader::after {
    content: '';
    position: absolute;
    bottom: calc(var(--spacing) * 0);
    left: calc(var(--spacing) * 0);
    width: calc(2em * 0.172);
    aspect-ratio: 1;
    border-radius: calc(infinity * 1px);
    background-color: currentColor;
}

.box {
    height: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
    background-color: var(--bg1);
    color: var(--fg1);
}

@keyframes loader {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}