:root {
    --bg1: #ffffff;
    --bg2 : #EFEEEA;
    --fg1: #171717;
    --fg2 : #273F4F;
    --orange : #FE7743;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg1: #0a0a0a;
        --bg2:#273F4F;
        --fg1: #ededed;
        --fg2 :#EFEEEA;
    }
}

body {
    color: var(--fg1);
    background: var(--bg1);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}